---
import { Icon } from 'astro-icon';
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Astro Icon</title>
	<style lang="css">
		/* style icon tanpa arahan*/
		[astro-icon] {
			color: brown;
		}

		/* arahan style icon */
		[astro-icon="solidity"] {
			color: brown;
		}
		[astro-icon="color"] {
			color: #17da21;
		}

    </style>
</head>

<body>
    Saya mencoba membuat icon sendiri
    <Icon size={50} name="solidity" />
	<Icon size={60} name="menu" />
	<Icon size={60} name="color" >
	<Icon size={20} name="basis" >
</body>

</html>
